In [16]:
import mysql.connector

cnx = mysql.connector.connect(host="172.16.1.75",
                                database="vnw_core",
                                user="ylv",
                                password="4bGboS83ZZ")

query = """
select jobid, approveddate from tbljob where approveddate >= '2024-08-13' AND approveddate <= '2024-08-15';
"""
cursor = cnx.cursor()
cursor.execute(query)
data = cursor.fetchall()

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame(data, columns=[i[0] for i in cursor.description])

In [19]:
df

       jobid        approveddate
0    1795266 2024-08-13 10:37:30
1    1810340 2024-08-13 13:26:10
2    1811287 2024-08-14 17:21:08
3    1810914 2024-08-14 09:54:27
4    1810923 2024-08-14 10:02:20
..       ...                 ...
825  1811185 2024-08-14 15:55:38
826  1811253 2024-08-14 16:47:49
827  1811250 2024-08-14 16:49:45
828  1811274 2024-08-14 17:09:48
829  1811336 2024-08-14 18:02:39

[830 rows x 2 columns]

In [20]:
from elasticsearch import Elasticsearch

es = Elasticsearch(["http://product_datateam:2YeE64BZ5Htf7zqD@es-log-auth.vietnamworks.com:80"])

In [21]:
# !pip install elasticsearch==7.7 -U

In [22]:
jobs = df.jobid.unique().tolist()

In [23]:
from tqdm import tqdm

res_data = []

for job in tqdm(jobs):
    query = {
      "_source": ["@fields.ctxt_userID", "@fields.ctxt_objectID", "@fields.ctxt_utm_Content_navi", "@timestamp", "@fields.ctxt_utm_Source", "@fields.ctxt_utm_Source_navi", "@fields.ctxt_utm_Content_navi","@fields.ctxt_utm_Content", "@fields.ctxt_utm_Term"],
      "query": {
        "term": {
          "@fields.ctxt_objectID.keyword": {
            "value": str(job)
          }
        }
      }
    }

    res = es.search(index="event_apply_v2-*", body=query)
    res_data.extend(res["hits"]["hits"])

100%|██████████████████████████████████████████████████████████████| 830/830 [00:32<00:00, 25.48it/s]

In [24]:
data_df = [{
    "timestamp": i['_source']['@timestamp'],
    "ctxt_userID": i['_source']['@fields']['ctxt_userID'],
    "ctxt_objectID": i['_source']['@fields']['ctxt_objectID'],
    "ctxt_utm_Source": i['_source']['@fields']['ctxt_utm_Source'],
    "ctxt_utm_Source_navi": i['_source']['@fields']['ctxt_utm_Source_navi'],
    "ctxt_utm_Content_navi": i['_source']['@fields']['ctxt_utm_Content_navi'],
    "ctxt_utm_Content": i['_source']['@fields']['ctxt_utm_Content'],
    "ctxt_utm_Term": i['_source']['@fields']['ctxt_utm_Term']
} for i in res_data]

df_apply = pd.DataFrame(data_df)

In [25]:
df_apply.dtypes, df.dtypes
df["jobid"] = df.jobid.astype(str)

In [26]:
df_apply = df_apply.merge(df, how="left", left_on="ctxt_objectID", right_on="jobid")

In [27]:
from datetime import datetime

df_apply["delta_time"] = df_apply[["timestamp", "approveddate"]].apply(lambda x: (datetime.strptime(x[0], '%Y-%m-%dT%H:%M:%S+07:00') - x[1]).value//10e8, axis=1)

/tmp/ipykernel_421460/595794100.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_apply["delta_time"] = df_apply[["timestamp", "approveddate"]].apply(lambda x: (datetime.strptime(x[0], '%Y-%m-%dT%H:%M:%S+07:00') - x[1]).value//10e8, axis=1)

In [28]:
df_apply[['ctxt_userID', 'ctxt_objectID', 'timestamp', 'approveddate', 'delta_time']]

,ctxt_userID,ctxt_objectID,timestamp,approveddate,delta_time
0,6807530,1795266,2024-07-08T14:01:29+07:00,2024-08-13 10:37:30,-3098161.0
1,5607302,1795266,2024-07-22T18:01:08+07:00,2024-08-13 10:37:30,-1874182.0
2,7285722,1795266,2024-07-23T16:32:44+07:00,2024-08-13 10:37:30,-1793086.0
3,3151958,1795266,2024-07-16T10:13:57+07:00,2024-08-13 10:37:30,-2420613.0
4,7372369,1795266,2024-07-09T04:24:22+07:00,2024-08-13 10:37:30,-3046388.0
...,...,...,...,...,...
3982,5259984,1811336,2024-08-14T19:36:16+07:00,2024-08-14 18:02:39,5617.0
3983,4544174,1811336,2024-08-14T18:59:06+07:00,2024-08-14 18:02:39,3387.0
3984,5936981,1811336,2024-08-15T17:45:56+07:00,2024-08-14 18:02:39,85397.0
3985,7246541,1811336,2024-08-15T02:01:52+07:00,2024-08-14 18:02:39,28753.0
3986,7641031,1811336,2024-08-15T10:06:09+07:00,2024-08-14 18:02:39,57810.0

In [29]:
df_apply = df_apply[df_apply.delta_time>=0]

In [30]:
df_apply["recommend"] = df_apply[["ctxt_utm_Content_navi", "ctxt_utm_Content"]].apply(lambda x: 'recommend' if ("SmartNaviIOP" in x[0] or "SmartNaviIOP" in x[1]) else "not recommend", axis=1)

/tmp/ipykernel_421460/1535253203.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_apply["recommend"] = df_apply[["ctxt_utm_Content_navi", "ctxt_utm_Content"]].apply(lambda x: 'recommend' if ("SmartNaviIOP" in x[0] or "SmartNaviIOP" in x[1]) else "not recommend", axis=1)

In [31]:
# x=2
for x in [2, 4, 6, 8, 10, 12, 14, 48, 72]:
    df_under_xh = df_apply[df_apply.delta_time < x*3600]
    df_under_xh_agg = df_under_xh.groupby(["ctxt_objectID", "recommend"])["ctxt_userID"].apply("count")
    data_under_xh = []
    for job in jobs:
        try:
            not_recommend = df_under_xh_agg[str(job)]["not recommend"]
        except:
            not_recommend = 0
        try:
            recommend = df_under_xh_agg[str(job)]["recommend"]
        except:
            recommend = 0
        data_under_xh.append({"ctxt_objectID": str(job), "recommend": recommend, "not_recommend": not_recommend})
    df_under_xh_stat = pd.DataFrame(data_under_xh)
    print(sum(df_under_xh_stat['recommend'].tolist())/(sum(df_under_xh_stat['recommend'].tolist()) + sum(df_under_xh_stat['not_recommend'].tolist())))

0.08027522935779817
0.0778688524590164
0.07414829659318638
0.08445945945945946
0.09322033898305085
0.09822064056939502
0.10354223433242507
0.2196478220574606
0.22810650887573963